.sidebar-header{
  border-bottom: 10px solid $color-main-darker;
  min-height: 16px;
  padding: 6px 15px;
  background: $color-main;
  color: $color-main-darker;
}

.sidebar-title {
  font-size: $font-size-h3;
  margin: 9px 0;
}

.sidebar-close {
  margin-right: -8px;
  padding: 4px 8px;
  font-size: 25px;
  opacity: .8;
  cursor: pointer;
  background: 0 0;
  border: 0;
  float: right;
  font-weight: 700;
  line-height: 1;
  text-shadow: 0 1px 0 #fff;
}

.sidebar .navbar-nav {
  margin: 0;
}