.thumbnail {
  margin: 5px 0;
}

.thumbnail-img {
  width: 100%;
}

.thumbnail-caption {
  border-style: solid;
  border-width: 1px;
  display: block;
  font-size: 14px;
  padding: .2em .5em;
  margin-bottom: .5em;
  border-color: #eaeaea !important;
}